<div id="<%= dom_id ticket %>">
  <p>
    <strong>Requesting user:</strong>
    <%= ticket.requesting_user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ticket.state %>
  </p>

  <p>
    <strong>Incident date:</strong>
    <%= ticket.incident_date %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= ticket.deadline %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ticket.category %>
  </p>

  <p>
    <strong>Executive user:</strong>
    <%= ticket.executive_user_id %>
  </p>

</div>
