<div id="<%= dom_id performance_report %>">
  <p>
    <strong>Executive user:</strong>
    <%= performance_report.executive_user_id %>
  </p>

  <p>
    <strong>Created tickets:</strong>
    <%= performance_report.created_tickets %>
  </p>

  <p>
    <strong>Closed tickets:</strong>
    <%= performance_report.closed_tickets %>
  </p>

  <p>
    <strong>Open tickets:</strong>
    <%= performance_report.open_tickets %>
  </p>

  <p>
    <strong>Average evaluation:</strong>
    <%= performance_report.average_evaluation %>
  </p>

</div>
