<div id="<%= dom_id solution %>">
  <p>
    <strong>Ticket:</strong>
    <%= solution.ticket_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= solution.date %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= solution.feedback %>
  </p>

  <p>
    <strong>Selected:</strong>
    <%= solution.selected %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= solution.evaluation %>
  </p>

</div>
