<p style="color: green"><%= notice %></p>

<%= render @solution %>

<div>
  <%= link_to "Edit this solution", edit_solution_path(@solution) %> |
  <%= link_to "Back to solutions", solutions_path %>

  <%= button_to "Destroy this solution", @solution, method: :delete %>
</div>
